<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.win10.giveandtake">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SignupActivity" />
        <activity android:name=".UI.ResetPasswordActivity" />
        <activity android:name=".UI.UserHomeActivity" />
        <activity android:name=".UI.MatchActivity" />
        <activity android:name=".UI.SetMeetingActivity" />
        <activity android:name=".UI.ExploreActivity"></activity>
    </application>

</manifest>