<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finalproject.giveandtake">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.finalproject.giveandtake.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/temp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <service
            android:name="com.finalproject.giveandtake.DBLogic.GiveAndTakeMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.finalproject.giveandtake.UI.login.LoginActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.finalproject.giveandtake.UI.userProfile.UserProfileActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.userProfile.OtherUserActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.handshakeSession.IncomingSessionRequestActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.mainScreen.MainScreenActivity"/>
        <activity android:name="com.finalproject.giveandtake.UI.userHashtags.MyGiveOrTakeRequestActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.userMatch.UserMatchActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.login.TermsOfUseActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.login.SplashScreenActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.handshakeSession.HandshakeProcessActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.handshakeSession.HandshakeSettingsActivity" />
        <activity android:name="com.finalproject.giveandtake.UI.handshakeSession.HandshakeSummaryActivity"></activity>
    </application>

</manifest>