<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finalproject.giveandtake">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/temp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service
            android:name=".DBLogic.GiveAndTakeMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".UI.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.userProfile.UserProfileActivity" />
        <activity android:name=".UI.userProfile.OtherUserActivity" />
        <activity android:name=".UI.handshakeSession.IncomingSessionRequestActivity" />
        <activity android:name=".UI.mainScreen.MainScreenActivity" />
        <activity android:name=".UI.userHashtags.MyGiveOrTakeRequestActivity" />
        <activity android:name=".UI.userMatch.UserMatchActivity" />
        <activity android:name=".UI.login.TermsOfUseActivity" />
        <activity android:name=".UI.login.SplashScreenActivity" />
        <activity android:name=".UI.handshakeSession.HandshakeProcessActivity" />
        <activity android:name=".UI.handshakeSession.HandshakeSettingsActivity" />
        <activity android:name=".UI.handshakeSession.HandshakeSummaryActivity" />
        <activity android:name=".UI.sessionsHistory.SessionsHistoryActivty" />
        <activity android:name=".UI.explore.ExploreActivity" />
        <activity android:name=".UI.explore.ExploreTagUsersActivity" />
        <activity android:name=".UI.userProfile.PhoneRequestActivity"/>

    </application>

</manifest>